@model PMS.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<style>
    .btn-sub {
        background-color: #76CED2;
        color: white;
        transition: all .3s ease-out;
    }

        .btn-sub:hover {
            background-color: #70c1c4;
            color: white;
        }
</style>

<div>
    <h4 class="font-size-18 mt-5 text-center">Reset Password</h4>
    <p class="text-muted text-center">Get your account back!</p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Email)

        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control col-12", @placeholder = "Confirm Password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="Reset Your Password" class="btn btn-sub col-12" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


