@model PMS.Models.SearchViewModel
@using PMS.Models

@{
    int i = 0;
}

@section styles {
    <style>

        body[data-layout="horizontal"] .page-content {
            padding: calc(44px) calc(24px / 2) 60px calc(24px / 2);
        }

        .carousel-caption {
            top: 0;
            bottom: auto;
            left: 0px;
            background-color: rgba(0,0,0, 0.6);
            right: 40%;
        }

        .caption {
            position: absolute;
            top: 8px;
            left: 6px;
            color: white;
            background-color: #f27d20;
            padding: 3px 6px 3px 6px;
        }

        .sh {
            box-shadow: 0 16px 64px 0 rgba(0,0,0,.12), 0 0 0 1px rgba(0,0,0,.01);
        }

        .bg-overlay:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,.3);
        }

        .bg {
            object-fit: cover;
            height: 250px;
            border-radius: 10px;
        }

        .rgb {
            animation: color-change 10s infinite;
        }

        @@keyframes color-change {
            0% {
                color: white;
            }


            50% {
                color: #76CED2;
            }

            100% {
                color: white;
            }
        }

        @@media screen and (min-width: 1200px) {
            .bricklayer-column-sizer {
                /* divide by 3. */
                width: 50%;
            }
        }

        @@media screen and (min-width: 900px) {
            .bricklayer-column-sizer {
                /* divide by 2. */
                width: 50%;
            }
        }
    </style>
}

<div class="container">
    <div class="row" id="banner">
        <div class="col-12 p-0">
            <img class="d-block w-100 bg" src="~/src/img/srcbg2.jpg">
            <div class="mid search">
                <h2 class="rgb" style="color:white">Welcome to PhotoG</h2>
                <span style="color: white">HIRE THE BEST STUDIO FROM THE BEST SITE!</span><br><br>
                @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                {

                    @Html.EditorFor(model => model.keyword, new { htmlAttributes = new { @class = "input", placeholder = "Search Studio/Package", required = "required" } })
                    @Html.EditorFor(model => model.sortby, new { htmlAttributes = new { @class = "input", placeholder = "Search Studio/Package", hidden = "hidden", @Value = "pricelh" } })
                    <button type="submit"><i class="fa fa-search"></i></button>
                }

            </div>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <h2>Packages <span style="font-size:14px">(<a href="/Home/Search?sortby=pricelh">SHOW ALL</a>)</span> </h2>
        </div>
        <div class="col-12">
            <div id="brick" class="bricklayer">
                @foreach (var item in Model.pkg)
                {
                    if (i < 4)
                    {
                        string imgLogo = (item.PackageImages.Count(x => x.PackageID == item.id) == 0 ? "https://storagephotog2.blob.core.windows.net/studio-data/default/default-image-package.png"
                                                                          : "https://storagephotog2.blob.core.windows.net/studio-data/" + item.Studio.id + "/" + item.PackageImages.FirstOrDefault(x => x.PackageID == item.id).ImageName + "");

                        <div class="card cd card-shad">
                            <div class="imgWrap"><img src="@imgLogo" class="myImg card-img-top mx-0 d-block"></div>
                            <div class="card-body">
                                <h3 class="card-title cdtitle">@item.name</h3>
                                <article class="card-text" style="max-height: none;">
                                    @item.details
                                </article>
                                <div class="row">
                                    <div class="col-6 pt-1">
                                        <span class="pay-title">Deposit</span><br>
                                        <span class="ttl-title" style="color:#FFA500">RM @item.depositprice</span>
                                    </div>
                                    <div class="col-6 pt-1">
                                        <span class="pay-title">Total</span><br>
                                        <span class="ttl-title" style="color:#85bb65">RM @item.price</span>
                                    </div>
                                </div>
                                <button data-toggle="tooltip" title="" onclick="location.href = '/@item.Studio.uniquename/createchat?package=@item.id';" class="btn-msg-package" data-original-title="Order Now"><span class="mdi mdi-message-text"></span></button>
                            </div>
                        </div>
                    }
                    i++;
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/readmore-js@2.2.1/readmore.min.js"></script>

    <script>
        var bricklayer = new Bricklayer(document.querySelector('#brick'))

        $('article.card-text').readmore({
            speed: 75,
            lessLink: '<a href="#">Read less</a>'
        });
    </script>
}
