@model List<PMS.Models.Database.ChatKey>

@{
    if (ViewBag.StudioRoleID != null)
    {
        Layout = "~/views/shared/_LayoutStudioManage.cshtml";
        ViewBag.Title = "Studio Messages";
    }
    else
    {
        ViewBag.Title = "Messages";
    }

    string Image = "";

}

@if (ViewBag.StudioRoleID == null)
{
    @:<div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Chats</h2>
                <p>Inbox list of all studio that you chatted with.</p>
            </div>
        </div>

    }
    else
    {
        <h2> <i class="mdi mdi-chat"></i> Chats</h2>
        <p>Inbox list of all the customer who chat the studio.</p>

    }

<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">@ViewBag.Title</h4>
        <div class="table-responsive">
            <table class="table table-hover table-centered table-nowrap mb-0">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (ViewBag.StudioRoleID != null)
                        {
                            if (item.User.imgprofile == null)
                            {
                                Image = "https://storagephotog2.blob.core.windows.net/user-data/default/default-profile.jpg";
                            }
                            else
                            {
                                Image = @String.Format("https://storagephotog2.blob.core.windows.net/user-data/{0}/{1}", item.UserID, item.User.imgprofile);
                            }
                        }
                        else
                        {
                            if (item.Studio.ImgLogo == null)
                            {
                                Image = "https://storagephotog2.blob.core.windows.net/user-data/default/default-profile.jpg";
                            }
                            else
                            {
                                Image = @String.Format("https://storagephotog2.blob.core.windows.net/studio-data/{0}/{1}", item.StudioID, item.Studio.ImgLogo);
                            }
                        }
                        <tr>
                            @if (ViewBag.StudioUrl != null)
                            {
                                <td>
                                    <div class="header-chat">
                                        <img src="@Image" class="rounded-circle" width="20" />
                                        <h4>
                                            @item.User.name
                                            <a href="@string.Format("/{0}/Chat?key={1}", ViewBag.StudioUrl, item.ChatKeyID)" class="btn btn-primary float-right">Enter</a>
                                        </h4>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="header-chat">
                                    <img src="@Image" class="rounded-circle" width="20" />
                                    <h4>
                                        @item.Studio.name
                                        <a href="@string.Format("/Chat?key={0}", item.ChatKeyID)" class="btn btn-primary float-right">Enter</a>
                                    </h4>
                                </div>
                            </td>
                        }

                        </tr>
                    }
                    <tr>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (ViewBag.StudioRoleID == null)
{
@:</div>
}
