
@{
    ViewBag.Title = "ChatStudioMain";
    Layout = "~/Views/Shared/_LayoutStudioManage.cshtml";
}
@model PMS.Models.Database.ChatKey
@using System.Linq;
@{


    PMS.Models.Database.photogEntities ent = new PMS.Models.Database.photogEntities();

   
    <h2>@Model.User.name</h2>
}





<body onload="myFunction()">


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-database.js"></script>
    <script>

    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBfAjYyzRYaS5otwd2K6vi_tri1qawTMT4",
        authDomain: "chat-new-system.firebaseapp.com",
        projectId: "chat-new-system",
        storageBucket: "chat-new-system.appspot.com",
        messagingSenderId: "484464880907",
        appId: "1:484464880907:web:d909e13ff3d0b3b45e060e"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    var datetime = new Date();

     
        var chatkey ='@Model.ChatKey_Key';
        var myid = '@Model.StudioID';
        function myFunction() {
            var element = document.getElementById("myform");

            element.scrollIntoView();
            element.scrollIntoView(false);
            element.scrollIntoView({ block: "end" });
            element.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });

        }

    function sendMessage() {
        // get message
        var message = document.getElementById("message").value;
        $("#myform")[0].reset();
       const t = new Date();
        const hours = ('0' + t.getHours()).slice(-2);
        const minutes = ('0' + t.getMinutes()).slice(-2);
        // save in database //here to track who login
        firebase.database().ref(chatkey).push().set({
            "id":myid,
            "sendertype": "studio",
            "message": message,
            "receiver": "test123",
            "time": hours.toString() + ":" + minutes.toString(),
            "datatype":"text"
        });

        // prevent form from submitting
        return false;
    }

    </script>


    <script>
        //new push try
        // listen for incoming messages
        firebase.database().ref(chatkey).on("child_added", function (snapshot) {
            var html = "";
            // give each message a unique ID
            if (snapshot.val().datatype == "image") {
                if (snapshot.val().id == myid && snapshot.val().sendertype == "studio") {
                    //this is sender chat(align right side of interface)
                    //html += "<li class='font-size-18' style='margin:10px;text-align:right;list-style-type:none;background-color:lightgreen;' id='message-" + snapshot.key + "'>";
                    //html += "(me)";
                    html += "<li class='clearfix odd' id='message-" + snapshot.key + "'><div class='chat-avatar'><span class='time'>" + snapshot.val().time + "</span></div><div class='conversation-text'><div class='ctext-wrap' ><span class='user-name'>" + "@Model.Studio.name" + "(You)</span><img style='max-height:500px;max-width:500px;'  src='" + snapshot.val().message + "' ></div></div></li >";
                } else {

                    html += "<li class='clearfix ' id='message-" + snapshot.key + "'><div class='chat-avatar'><span class='time'>" + snapshot.val().time + "</span></div><div class='conversation-text'><div class='ctext-wrap' style='background-color:lightgrey'><span class='user-name'>" + "@Model.User.name" + "</span><img style='max-height:500px;max-width:500px;'  src='" + snapshot.val().message + "' ></div></div></li >";
                }




            }
            else {
                if (snapshot.val().id == myid && snapshot.val().sendertype == "studio") {
                    //this is sender chat(align right side of interface)
                    //html += "<li class='font-size-18' style='margin:10px;text-align:right;list-style-type:none;background-color:lightgreen;' id='message-" + snapshot.key + "'>";
                    //html += "(me)";
                    //change p
                    html += "<li class='clearfix odd' id='message-" + snapshot.key + "'><div class='chat-avatar'><span class='time'>" + snapshot.val().time + "</span></div><div class='conversation-text'><div class='ctext-wrap' ><span class='user-name'>" + "@Model.Studio.name" + "(You)</span><p>" + snapshot.val().message + "</p></div></div></li >";
                } else {

                    html += "<li class='clearfix' id='message-" + snapshot.key + "'><div class='chat-avatar'><span class='time'>" + snapshot.val().time + "</span></div><div class='conversation-text'><div class='ctext-wrap' style='background-color:lightgrey'><span class='user-name'>" + "@Model.User.name" +"</span><p>" + snapshot.val().message + "</p></div></div></li >";
                }


            }
            document.getElementById("msg").innerHTML += html;
        });



    </script>


    <div class="col-xl-15">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Chat</h4>
                <div class="chat-conversation">
                    <ul class="conversation-list" data-simplebar="init" style="min-height: 670px; background-color:white ">
                        <div class="simplebar-wrapper" style="margin: 0px -10px;">
                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: -17px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                        <div class="simplebar-content" id="msg" style="padding: 0px 10px;">

                                        </div>
                                    </div>
                                </div>
                            </div><div class="simplebar-placeholder" style="width: auto; height: 458px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div></div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 294px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
                    </ul>
                    <div class="row">
                        <form id="myform" class="row" onsubmit="return sendMessage();">
                            <div class="col-md-9 col-8 chat-inputbar">

                                <input id="message" class="form-control chat-input col-lg-9" placeholder="Enter message" autocomplete="off">
                            </div>
                            <div class="col-sm-2 col-4 chat-send">
                                <button type="submit" class="btn btn-success btn-block">Send</button>
                                <input id="fileup" type="file" class="btn btn-success btn-block" value="upload image" />
                            </div>
                            <div class="col-sm-2 col-4 chat-send">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <script>

        function encodeImageFIleURL() {

            fileSelect = document.getElementById("fileup").files;
            var validfile = [".jpeg", ".png", ".jpg"];
            var img = document.getElementById("fileup");
            var posofdot = img.value.lastIndexOf(".");
            var img_ext = img.value.substring(posofdot);

            var result = validfile.includes(img_ext);
            if (result != true) {
                //file is not valid
                alert("Invalid File type");
                $("#myform")[0].reset();
                return false;
            }
            if (fileSelect.length > 0) {

                var fileSelect = fileSelect[0];
                var fileReader = new FileReader();
                fileReader.onload = function (FileLoadEvent) {
                    var srcData = FileLoadEvent.target.result;

                    $("#myform")[0].reset();
                    const t = new Date();
                    const hours = ('0' + t.getHours()).slice(-2);
                    const minutes = ('0' + t.getMinutes()).slice(-2);
                    firebase.database().ref(chatkey).push().set({
                        "id": myid,
                        "sendertype": "studio",
                        "message": srcData,
                        "receiver": "test123",
                        "time": hours.toString() + ":" + minutes.toString(),
                        "datatype": "image"
                    });


                }
                fileReader.readAsDataURL(fileSelect);
            }
        }

        var fileup = document.getElementById("fileup");
        fileup.addEventListener("change", function () {
            encodeImageFIleURL();


        });

    </script>

</body>