@model PMS.Models.Database.Transaction

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Thanks for your order!</title>
    <style>
        @@media print {
            #printPageButton {
                display: none;
            }

            #returnPageButton {
                display: none;
            }

            #topnav {
                display: none;
            }

            @@page {
                margin: 0;
            }

            body {
                margin: 0.5cm;
            }
        }
    </style>
</head>
<body style="font-size:16px">
    <div class="container" style="padding:50px">
        <div class="row">
            <div class="col-md-6">
                <address>
                    <strong>@Model.Invoice.Job.User.name</strong>
                    <br>
                    <abbr title="Email">E:</abbr> @Model.Invoice.Job.User.email
                    <br>
                    <abbr title="Phone">P:</abbr> @Model.Invoice.Job.User.phonenumber
                </address>
            </div>
            <div class="col-md-6 text-right">
                <p>
                    <em>Date: @Model.transdate.ToString("dd MMMM, yyyy")</em>
                </p>
                <p>
                    <em>Receipt #: @Model.invoiceid</em>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h1>Receipt</h1>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Package</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-9"><em>@Model.Invoice.Job.Package.name</em></td>
                        <td class="col-md-1" style="text-align: center"> RM @Model.total.ToString(".00") </td>
                        <td class="col-md-1 text-center">RM @Model.total.ToString(".00")</td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td class="text-right"><h4><strong>Total: </strong></h4></td>
                        <td class="text-center text-danger"><h4><strong>RM @Model.total.ToString(".00")</strong></h4></td>
                    </tr>
                </tbody>
            </table>

            <a href="/jobc/jobcustomerdetail/@Model.Invoice.jobid" id="returnPageButton" class="btn btn-primary">
                <span class="mdi mdi-chevron-left-circle"> Return</span>
            </a>
            <button type="button" onclick="window.print();" id="printPageButton" class="btn btn-success ml-2">
                <span class="mdi mdi-file-pdf"> Print</span>
            </button>
        </div>
    </div>
</body>
</html>