@using PMS.Models
<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="@Url.Action("Index", "Home",null)" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/src/img/logo-sm.png" alt="" height="28">
                    </span>
                    <span class="logo-lg">
                        <img src="~/src/img/logo-lg.png" alt="" height="28">
                    </span>
                </a>

                <a href="@Url.Action("Index", "Home",null)" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/src/img/logo-sm.png" alt="" height="28">
                    </span>
                    <span class="logo-lg">
                        <img src="~/src/img/logo-lg.png" alt="" height="28">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="mdi mdi-menu"></i>
            </button>

            <!-- App Search-->
            <form class="app-search d-none d-lg-block">
                <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="fa fa-search"></span>
                </div>
            </form>
        </div>

        <div class="d-flex">
            @if (User.Identity.IsAuthenticated)
            {
                <!-- Avatar-->
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="nav-item">@User.Identity.Name</span>
                        <img class="rounded-circle header-profile-user" src="@User.Identity.GetProfilePhotoLink()" alt="Header Avatar">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-account-circle font-size-17 align-middle mr-1"></i> Profile
                        </a>
                        <a class="dropdown-item d-block" href="@Url.Action("ChatList", "Chat",null)">
                            <i class="mdi mdi-message-minus font-size-17 align-middle mr-1"></i>ChatChat
                        </a>
                        <a class="dropdown-item d-block" href="#">
                            <span class="badge badge-success float-right">11</span><i class="mdi mdi-settings font-size-17 align-middle mr-1"></i> Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item d-block" href="@Url.Action("Manage","Studio")">
                            <i class="mdi mdi-camera font-size-17 align-middle mr-1"></i> Studios
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="@Url.Action("SignOut","Account")">
                            <i class="bx bx-power-off font-size-17 align-middle mr-1 text-danger"></i> Logout
                        </a>
                    </div>
                </div>
            }

            else
            {
                <nav class="navbar navbar-dark navbar-expand">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="@Url.Action("Register","Account")" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("SignIn","Account")" class="nav-link">Sign In</a>
                        </li>
                    </ul>
                </nav>
            }

        </div>
    </div>
</header>