@{
    ViewBag.Title = "Sign In";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>500 | Veltrix - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    @Styles.Render("~/Content/cssUser")

</head>

<body>

    <!-- Begin page -->
    <div class="authentication-bg d-flex align-items-center pb-0 vh-100">
        <div class="content-center w-100">
            <div class="container">
                <div class="card mo-mt-2">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-4 ml-auto">
                                <div class="ex-page-content">
                                    <h1 class="text-dark display-1 mt-4">500</h1>
                                    <h4 class="mb-4">Internal Server Error</h4>
                                    <p class="mb-5">@ViewBag.ErrorMsg</p>
                                    <a class="btn btn-primary mb-5 waves-effect waves-light" style="color:white" onclick="history.back(-1)"><i class="mdi mdi-chevron-left-circle"></i> Back</a>
                                </div>

                            </div>
                            <div class="col-lg-5 mx-auto">
                                <img src="~/src/img/error.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end container -->
        </div>

    </div>
    <!-- end error page -->
    <!-- JAVASCRIPT -->

    @Scripts.Render("~/bundles/jquerytemplate")
    @Scripts.Render("~/bundles/bootstraptemplate")
    @Scripts.Render("~/bundles/libscript")

    <script src="~/src/user/js/app.js"></script>


</body>
</html>
