@model Tuple<PMS.Models.Database.Job, PMS.Models.Database.JobDate, PMS.Models.Database.JobDateUser, PMS.Models.Database.JobCharge>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutStudioManage.cshtml";
}

<h2>Job's Detail</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="card" style="padding:15px">
            <h4>Job's Information</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Date Issued
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Item1.DateCreated)
                </dd>

                <dt>
                    Payment Status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Item1.paymentstatus)
                </dd>

                <dt>
                    Status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Item1.JobStatu.name)
                </dd>

                <dt>
                    Package Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Item1.Package.name)
                </dd>

                <dt>
                    Client's Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Item1.User.email)
                </dd>
            </dl>

            @if (ViewBag.StudioRoleID == 1)
            {
                <p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#statusModal">Update</button>
                </p>
            }
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card" style="padding:15px">
            <h4>Job's Date Information</h4>
            <hr />
            @if (Model.Item2 != null)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Item2.jobdate1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item2.jobdate1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item2.location)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item2.location)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item2.description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item2.description)
                    </dd>
                </dl>
            }
            else
            {
                <h5>No Data Yet!</h5>
            }

            @if (ViewBag.StudioRoleID == 1)
            {
                <p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#staffModal">Assign Staff</button>
                </p>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card" style="padding:15px">
            <h4>Assigned Staff</h4>
            <hr />
            @if (Model.Item3 != null)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Item3.UserStudio.User.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item3.UserStudio.User.name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item3.UserStudio.User.email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item3.UserStudio.User.email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item3.UserStudio.User.phonenumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item3.UserStudio.User.phonenumber)
                    </dd>
                </dl>
            }
            else
            {
                <h5>No Data Yet!</h5>
            }

            @if (ViewBag.StudioRoleID == 1)
            {
                <p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#staffModal">Assign Staff</button>
                </p>
            }
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card" style="padding:15px">
            <h4>Job's Service Charges</h4>
            <hr />
            @if (Model.Item4 != null)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Item4.amount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item4.amount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Item4.remarks)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Item4.remarks)
                    </dd>
                </dl>
            }
            else
            {
                <h5>No Data Yet!</h5>
            }

            @if (ViewBag.StudioRoleID == 1)
            {
                <p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#staffModal">Assign Staff</button>
                </p>
            }
        </div>
    </div>
</div>

<!-- Modal Section -->
<div class="modal fade" id="statusModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <h4>Status</h4>
                        <form>
                            <div class="form-group">
                                <select title="Status" id="jobStatus" class="form-control"></select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="staffModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <h4>Search for staff to assign</h4>
                        <table id="adminTable" class="table table-striped table-bordered w-100">
                            <thead>
                                <tr>
                                    <th>Sort by Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- End Modal Section -->


@section Scripts {
    <script>
    $.ajaxSetup({
        headers: { 'StudioCredential': '@ViewBag.StudioID' }
    });
        var table;
        var jobstatus;
        $(function () {
             table = $("#adminTable").DataTable(
                {
                    serverSide: false,
                    ajax: {
                        type: "GET",
                        url: "/systemapi/studioroles/getRoleList",
                        dataSrc: ''
                    },
                    bLengthChange: true,
                    paging: false,
                    searchPlaceholder: "Search User",
                    search: true,
                    bSort: true,
                    info: false,
                    processing: true,
                    columns: [
                        {
                            data: 'StudioRole', render: function (data, type, row) {
                                return `
                                            <h5>${row.name}</h5>
                                            <p class="font-weight-light">${row.StudioRole}</p>
                                        ` }, "autoWidth": true
                        },
                        { data: 'userid', render: function (data, type, row) { return `<a href="@Request.Url/assignstaff/${data}" class="btn btn-secondary">Assign</a>` }, width: "10%" }
                    ]
                }
            );
        });
        $(function () {
            $.ajax({
                type: "GET",
                url: "/api/system/loadJobStatus",
                dataSrc: '',
                success: function (data) {
                    $.each(data, function (i, obj) {
                        jobstatus = `<option value=${obj.id}>${obj.name}</option>`
                        $("#jobStatus").append(jobstatus)
                    })
                }
            })
        });
    </script>
}