@model PMS.Models.Database.Job

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutStudioManage.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobStatu.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobStatu.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.email)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#staffModal">Assign Staff</button>
</p>

<!-- Modal -->
<div class="modal fade" id="staffModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <h4>Search for staff to assign</h4>
                        <table id="adminTable" class="table table-striped table-bordered w-100">
                            <thead>
                                <tr>
                                    <th>Sort by Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
    $.ajaxSetup({
        headers: { 'StudioCredential': '@ViewBag.StudioID' }
    });
        var table;
        $(function () {
             table = $("#adminTable").DataTable(
                {
                    serverSide: false,
                    ajax: {
                        type: "GET",
                        url: "/systemapi/studioroles/getRoleList",
                        dataSrc: ''
                    },
                    bLengthChange: true,
                    paging: false,
                    searchPlaceholder: "Search User",
                    search: true,
                    bSort: true,
                    info: false,
                    processing: true,
                    columns: [
                        {
                            data: 'StudioRole', render: function (data, type, row) {
                                return `
                                            <h5>${row.name}</h5>
                                            <p class="font-weight-light">${row.StudioRole}</p>
                                        ` }, "autoWidth": true
                        },
                        { data: 'userid', render: function (data, type, row) { return `<a href="@Request.Url/assignstaff/${data}" class="btn btn-secondary">Assign</a>` }, width: "10%" }
                    ]
                }
            );
        });
    </script>
}