@model PMS.Models.Database.Job

@{
    ViewBag.Title = "Detail";
    if (ViewBag.StudioRoleID != null)
    {
        Layout = "~/Views/Shared/_LayoutStudioManage.cshtml";
    }
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/rg-1.1.2/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css" />
<style>
    .collapsible-link::before {
        content: '';
        width: 14px;
        height: 2px;
        background: #333;
        position: absolute;
        top: calc(50% - 1px);
        right: 1rem;
        display: block;
        transition: all 0.3s;
    }

    .collapsible-link[aria-expanded='true']::before {
        transform: rotate(180deg);
    }

    .collapsible-link::after {
        content: '';
        width: 2px;
        height: 14px;
        background: #333;
        position: absolute;
        top: calc(50% - 7px);
        right: calc(1rem + 6px);
        display: block;
        transition: all 0.3s;
    }

    .collapsible-link[aria-expanded='true']::after {
        transform: rotate(90deg) translateX(-1px);
    }
</style>

<div class="container" style="font-size:16px">
    <div class="card">
        <div class="card-header">
            <h4 class="float-left"><i class="mdi mdi-briefcase-clock"></i> Job's Detail</h4>
            <a href="/@ViewBag.StudioUrl/job/paymentview/@Model.id" class="btn btn-primary float-right">Open Invoice/Payment Menu</a>
        </div>
        <div class="card-body" style="padding:30px">
            <div class="row">
                <div class="container-wrapper-scroll p-2 mb-3 col-12">
                    <div id="accordionExample1" class="accordion shadow">
                        <!-- Accordion item 1 -->
                        <div class="card">
                            <div id="heading1" class="card-header shadow-sm border-0">
                                <h4 class="mb-0">
                                    <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">
                                        Job's Information
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" aria-labelledby="heading1" data-parent="#accordionExample1" class="collapse show" style="">
                                <div class="card-body">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Date Issued
                                        </dt>

                                        <dd style="margin-left:5px">
                                            @Model.DateCreated.ToString("dd/MM/yyyy hh:mm tt")
                                        </dd>

                                        <dt>
                                            Payment Status
                                        </dt>

                                        <dd style="margin-left:5px">
                                            @if (string.IsNullOrWhiteSpace(Model.paymentstatus))
                                            {<span>-</span> }
                                            else
                                            { @Html.DisplayFor(model => model.paymentstatus)}
                                        </dd>

                                        <dt>
                                            Status
                                        </dt>

                                        <dd style="margin-left:5px">
                                            @if (Model.JobStatu.name == "Pending")
                                            {
                                                <span style="background-color:orange;padding:5px;border-radius:10px;color:white">@Model.JobStatu.name</span>
                                            }
                                            else if (Model.JobStatu.name == "Pending Deposit")
                                            {
                                                <span style="background-color:red;padding:5px;border-radius:10px;color:white">@Model.JobStatu.name</span>
                                            }
                                            else if (Model.JobStatu.name == "Quote")
                                            {
                                                <span style="background-color:blue;padding:5px;border-radius:10px;color:white">@Model.JobStatu.name</span>
                                            }
                                            else if (Model.JobStatu.name == "Completed")
                                            {
                                                <span style="background-color:green;padding:5px;border-radius:10px;color:white">@Model.JobStatu.name</span>
                                            }
                                            else
                                            {
                                                <span style="background-color:gray;padding:5px;border-radius:10px;color:white">@Model.JobStatu.name</span>
                                            }
                                        </dd>

                                        <dt>
                                            Package Name
                                        </dt>

                                        <dd style="margin-left:5px">
                                            @Html.DisplayFor(model => model.Package.name)
                                        </dd>

                                        <dt>
                                            Client's Email
                                        </dt>

                                        <dd style="margin-left:5px">
                                            @Html.DisplayFor(model => model.User.email)
                                        </dd>
                                    </dl>
                                    @if (ViewBag.StudioRoleID == 1 && Model.JobStatu.name != "Completed")
                                    {
                                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#statusModal">Update</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accordionExample2" class="accordion shadow">
                        <div class="card">
                            <div id="heading2" class="card-header shadow-sm border-0">
                                <h4 class="mb-0">
                                    <a href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">
                                        Job's Date Information
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" aria-labelledby="heading2" data-parent="#accordionExample2" class="collapse show">
                                <div class="card-body">
                                    <table id="jdTable" class="table table-striped table-bordered w-100">
                                        <thead>
                                            <tr>
                                                <th>Photoshoot Date & Time</th>
                                                <th>Photoshoot Location</th>
                                                <th>Description</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                    @*@if (ViewBag.StudioRoleID == 1)
                                    {
                                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#dateModal">Update</button>
                                    }*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accordionExample3" class="accordion shadow">
                        <div class="card">
                            <div id="heading3" class="card-header shadow-sm border-0">
                                <h4 class="mb-0">
                                    <a href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">
                                        Assigned Staff
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" aria-labelledby="heading3" data-parent="#accordionExample3" class="collapse show">
                                <div class="card-body">
                                    <div class="card" style="padding:10px">
                                        <table id="jduTable" class="table table-striped table-bordered w-100">
                                            <thead>
                                                <tr>
                                                    <th>Staff</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                        @if (ViewBag.StudioRoleID == 1 && Model.JobStatu.name != "Completed")
                                        {
                                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#staffModal">Assign Staff</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accordionExample4" class="accordion shadow">
                        <div class="card">
                            <div id="heading4" class="card-header shadow-sm border-0">
                                <h4 class="mb-0">
                                    <a href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">
                                        Services Charges
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" aria-labelledby="heading4" data-parent="#accordionExample4" class="collapse show">
                                <div class="card-body">
                                    <div class="card" style="padding:10px">
                                        <table id="jobChargeTable" class="table table-striped table-bordered w-100">
                                            <thead>
                                                <tr>
                                                    <th>Description</th>
                                                    <th>Amount</th>
                                                    @*<th></th>*@
                                                </tr>
                                            </thead>
                                        </table>
                                        @*@if (ViewBag.StudioRoleID == 1)
                                            {
                                                <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#jobChargeModal">Add Service Charge</button>
                                            }*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Section -->
<div class="modal fade" id="statusModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <h4>Update Job</h4>
                        <hr />
                        <form action="~/@ViewBag.StudioUrl/job/changestatus" method="post">
                            @Html.AntiForgeryToken()

                            <input type="hidden" value="@Model.id" name="id" />

                            <div class="form-group">
                                <select title="Status" name="jsid" id="jobStatus" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <select title="Package" name="pid" id="packages" class="form-control"></select>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-info">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@*<div class="modal fade" id="dateModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                @if (Model.Item2 != null)
                {
                    <div class="card">
                        <div class="card-body">
                            <h4>Update Job Description</h4>
                            <hr />
                            <form action="~/@ViewBag.StudioUrl/job/changedate" method="post">
                                @Html.AntiForgeryToken()

                                @if (Model.Item2 != null)
                                {
                                    @Html.HiddenFor(x => x.Item2.id, new { @Value = Model.Item2.id });
                                }
                                @Html.HiddenFor(x => x.Item2.jobid, new { @Value = Model.Item1.id })
                                <div class="form-group">
                                    <input type="date" name="jobdate" class="form-control" value="@Model.Item2.jobdate1.ToString("yyyy-MM-dd")" />
                                </div>
                                <div class="form-group">
                                    <input type="time" name="jobtime" class="form-control" value="@Model.Item2.jobdate1.TimeOfDay" />
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Item2.description, new { @class = "form-control", type = "text", placeholder = "Description..." })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Item2.location, new { @class = "form-control", type = "text", placeholder = "Location..." })
                                </div>
                                <div class="form-group">
                                    <select title="Status" name="jsid" id="jobDateStatus" class="form-control"></select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card">
                        <div class="card-body">
                            <h4>Update Job Description</h4>
                            <hr />
                            <form action="~/@ViewBag.StudioUrl/job/changedate" method="post">
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(x => x.Item2.jobid, new { @Value = Model.Item1.id })
                                <div class="form-group">
                                    @if (Model.Item2 != null)
                                    {
                                        <input type="date" name="jobdate" class="form-control" value="@Model.Item2.jobdate1.ToString("yyyy-MM-dd")" />
                                    }
                                    else
                                    {
                                        <input type="date" name="jobdate" class="form-control" />
                                    }
                                </div>
                                <div class="form-group">
                                    @if (Model.Item2 != null)
                                    {
                                        <input type="time" name="jobtime" class="form-control" value="@Model.Item2.jobdate1.TimeOfDay" />
                                    }
                                    else
                                    {
                                        <input type="time" name="jobtime" class="form-control" />
                                    }
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Item2.description, new { @class = "form-control", type = "text", placeholder = "Description..." })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Item2.location, new { @class = "form-control", type = "text", placeholder = "Location..." })
                                </div>
                                <div class="form-group">
                                    <select title="Status" name="jsid" id="jobDateStatus" class="form-control"></select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>*@
<div class="modal fade" id="staffModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                @if (!Model.JobDates.Any())
                {
                    <h5>Please determine the date for the photoshoot session before you can proceed to assign staff/photographer</h5>
                }
                else
                {
                    <div class="card">
                        <div class="card-body">
                            <h4>Search for staff to assign</h4>
                            <table id="adminTable" class="table table-striped table-bordered w-100">
                                <thead>
                                    <tr>
                                        <th>Sort by Role</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@*<div class="modal fade" id="jobChargeModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <h4>Add Charge to Session</h4>
                            <hr />
                            <form action="~/@ViewBag.StudioUrl/job/jobcharge" method="post">
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(x => x.Item4.jobid, new { @Value = Model.Item1.id })
                                <div class="form-group">
                                    <select name="cid" class="form-control" id="listCharge"></select>
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Item4.amount, new { @class = "form-control", placeholder = "Amount...", @Value = "" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Item4.remarks, new { @class = "form-control", placeholder = "Remarks...", @Value = "" })
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>*@
<!-- End Modal Section -->

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/b-1.6.5/fc-3.3.2/fh-3.1.7/r-2.2.6/rg-1.1.2/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>
    <script>
    $.ajaxSetup({
        headers: { 'StudioCredential': '@ViewBag.StudioID' }
    });
        var table;
        var jctable;
        var jobstatus;
        var packages;
        var charges;
        $(function () {
            jctable = $("#jdTable").DataTable(
                {
                    serverSide: false,
                    ajax: {
                        type: "GET",
                        url: "/api/system/loadjobdate/@Model.id",
                        dataSrc: ''
                    },
                    bLengthChange: true,
                    paging: false,
                    searchPlaceholder: "Search User",
                    search: true,
                    bSort: true,
                    info: false,
                    processing: true,
                    columns: [
                        { data: 'pdatetime', autoWidth: true },
                        { data: 'location', autoWidth: true },
                        { data: 'description', autoWidth: true },
                        { data: 'id', render: function (data, type, row) { return `@if (ViewBag.StudioRoleID != null && Model.JobStatu.name != "Completed") { <a href="/@ViewBag.StudioUrl/job/changedate/${data}">Update</a> }` }, autoWidth: true }
                    ]
                }
            );
        });
        $(function () {
            jctable = $("#jduTable").DataTable(
                {
                    serverSide: false,
                    ajax: {
                        type: "GET",
                        url: "/api/system/loadjobstaff/@Model.id",
                        dataSrc: ''
                    },
                    bLengthChange: true,
                    paging: false,
                    searchPlaceholder: "Search User",
                    search: true,
                    bSort: true,
                    info: false,
                    processing: true,
                    columns: [
                        { data: 'name', autoWidth: true },
                        { data: 'email', autoWidth: true },
                        { data: 'phone', autoWidth: true },
                        { data: 'id', render: function (data, type, row) { return `@if (ViewBag.StudioRoleID != null && Model.JobStatu.name != "Completed") { <a href="/@ViewBag.StudioUrl/job/deletejobstaff/${data}">Delete</a> }` }, autoWidth: true }
                    ]
                }
            );
        });
        $(function () {
            jctable = $("#jobChargeTable").DataTable(
                {
                    serverSide: false,
                    ajax: {
                        type: "GET",
                        url: "/api/system/loadjobcharges/@Model.id",
                        dataSrc: ''
                    },
                    bLengthChange: true,
                    paging: false,
                    searchPlaceholder: "Search User",
                    search: true,
                    bSort: true,
                    info: false,
                    processing: true,
                    columns: [
                        { data: 'remarks', autoWidth: true },
                        { data: 'amount', autoWidth: true },
                    ]
                }
            );
        });
        $(function () {
            table = $("#adminTable").DataTable(
                {
                    serverSide: false,
                    ajax: {
                        type: "GET",
                        url: "/systemapi/studioroles/getRoleList",
                        dataSrc: ''
                    },
                    bLengthChange: true,
                    paging: false,
                    searchPlaceholder: "Search User",
                    search: true,
                    bSort: true,
                    info: false,
                    processing: true,
                    columns: [
                        {
                            data: 'StudioRole', render: function (data, type, row) {
                                return `
                                            <h5>${row.name}</h5>
                                            <p class="font-weight-light">${row.StudioRole}</p>
                                        ` }, "autoWidth": true
                        },
                        { data: 'userid', render: function (data, type, row) { return `<a href="/@ViewBag.StudioUrl/Job/assignstaff/${data}?jobid=@Model.id" class="btn btn-secondary">Assign</a>` }, width: "10%" }
                    ]
                }
            );
        });
        $(function () {
            $.ajax({
                type: "GET",
                url: "/api/system/loadJobStatus",
                dataSrc: '',
                success: function (data) {
                    $.each(data, function (i, obj) {
                        if (obj.id === @Model.jobstatusid) {
                            jobstatus = `<option value='${obj.id}' selected>${obj.name}</option>`
                        }
                        else {
                            jobstatus = `<option value='${obj.id}'>${obj.name}</option>`
                        }

                        $("#jobStatus").append(jobstatus)
                        $("#jobDateStatus").append(jobstatus)
                    })
                }
            })
        });
        $(function () {
            $.ajax({
                type: "GET",
                url: "/api/system/loadpackages/@ViewBag.StudioID",
                dataSrc: '',
                success: function (data) {
                    $.each(data, function (i, obj) {
                        if (obj.id === @Model.packageid) {
                            packages = `<option value='${obj.id}' selected>${obj.name}</option>`
                        }
                        else {
                            packages = `<option value='${obj.id}'>${obj.name}</option>`
                        }

                        $("#packages").append(packages)
                    })
                }
            })
        });
        $(function () {
            $.ajax({
                type: "GET",
                url: "/api/system/loadcharges/@ViewBag.StudioID",
                dataSrc: '',
                success: function (data) {
                    $.each(data, function (i, obj) {
                        charges = `<option value='${obj.id}'>${obj.Name}</option>`
                        $("#listCharge").append(charges)
                    })
                }
            })
        });
    </script>
}
