@model PMS.Models.Database.Job

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutStudioManage.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobStatu.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobStatu.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
