@using PMS.Models
@model PMS.Models.Database.Studio

<div class="cover-profile">
    @if (ViewBag.IsStudioSetting != null)
    {
        <div id="cover-photo">
            <input type="file" id="input-studioCoverPic" class="filepond" name="filepond" accept="" />
        </div>
    }
    else
    {
        var coverImage = (Model.ImgCover == null) ? "https://storagephotog.blob.core.windows.net/studio-data/default/cover-default.jpg" : String.Format("https://storagephotog.blob.core.windows.net/studio-data/{0}/{1}", Model.id, Model.ImgCover);
        <img src="@coverImage" id="cover-photo" />
    }
    <div id="studio-profile-img">
        @if (ViewBag.IsStudioSetting != null)
        {
            <div style="width: 90%;margin: 10.2px;">
                <input type="file" id="input-studioProfilePic" class="filepond" name="filepond" accept="" />
            </div>
        }
        else
        {
            var profileImage = (Model.ImgLogo == null) ? "https://storagephotog.blob.core.windows.net/studio-data/default/default-profile.jpg" : String.Format("https://storagephotog.blob.core.windows.net/studio-data/{0}/{1}", Model.id, Model.ImgLogo);

            <img class="rounded-circle" style="width: 90%;margin: 10.2px;" src="@profileImage">
        }
    </div>
    <div id="studio-head">
        <h2 style=""> {{Studio.Name}} </h2>
        <p class="mb-0">
            <span style="position: relative; top: -6px; font-weight: 500;"> {{Studio.ShortDesc}}  </span>
            <br>
            <span style="color:#9F9F9F;font-weight:500">
                <i class="ti-location-pin"></i> {{StudioLocation}} &nbsp;&nbsp;
                <i class="ti-facebook"></i> Adi Iman &nbsp;&nbsp;
                <i class="ti-instagram"></i> adi_iman10 &nbsp;&nbsp;
                <i class="ti-twitter-alt"></i> trixxboy &nbsp;&nbsp;
            </span>
        </p>
    </div>
</div>
<div class="body-profile">
    <div class="row">
        <div class="col-md-2 col-12">
            <div class="row">
                <div class="col-12">
                    <span class="mdi mdi-phone"> &nbsp; {{Studio.PhoneNum}} </span> <br>
                    <span style="line-height:2.5;" class="mdi mdi-email"> &nbsp;<a href="">{{Studio.Email}} </a></span>
                </div>
                <div class="col-12" onclick="">
                    <a class="chatbtn" href="@string.Format("/{0}/{1}", ViewBag.StudioUrl, "createchat")"><i class="mdi mdi-chat"></i> Chat</a>
                </div>

                @if (ViewBag.IsStudioIndex != null)
                {
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4 col-12 py-0">
                                <span class="float-right" style="font-size:30px">3.8</span>
                            </div>
                            <div class="col-md-8 col-12 py-0">
                                <div class="rating">
                                    <span class="mdi mdi-star"></span>
                                    <span class="mdi mdi-star"></span>
                                    <span class="mdi mdi-star"></span>
                                    <span class="mdi mdi-star-half"></span>
                                    <span class="mdi mdi-star-outline"></span>
                                </div>
                                <div class="review">
                                    193 reviews
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card cd">
                            <div class="card-title mb-1">
                                <div class="row">
                                    <div class="col-3 ml-3 pb-0">
                                        <img class="rounded-circle" style="width: 35px;margin: 10.2px;" src="@User.Identity.GetProfilePhotoLink()">
                                    </div>
                                    <div class="col-8 pb-0">
                                        <span style="font-size:14px">Iqmal Rizal</span><br>
                                        <div class="rating">
                                            <span class="mdi mdi-star"></span>
                                            <span class="mdi mdi-star"></span>
                                            <span class="mdi mdi-star"></span>
                                            <span class="mdi mdi-star-half"></span>
                                            <span class="mdi mdi-star-outline"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0 pb-5">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                            </div>
                            <div class="date-review">26 Dec 2020</div>
                        </div>
                        <div class="card cd">
                            <div class="card-title mb-1">
                                <div class="row">
                                    <div class="col-3 ml-3 pb-0">
                                        <img class="rounded-circle" style="width: 35px;margin: 10.2px;" src="@User.Identity.GetProfilePhotoLink()">
                                    </div>
                                    <div class="col-8 pb-0">
                                        <span style="font-size:14px">Ahmad Raziq</span><br>
                                        <div class="rating">
                                            <span class="mdi mdi-star"></span>
                                            <span class="mdi mdi-star"></span>
                                            <span class="mdi mdi-star"></span>
                                            <span class="mdi mdi-star"></span>
                                            <span class="mdi mdi-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0 pb-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="date-review">21 Dec 2020</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <center>
                            <button class="btn-review">Show more reviews</button>
                        </center>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-10 col-12">
            <h3 class="pb-2">Bio</h3>
            <p>
                {{Studio.Bio}}
            </p>

            @if (ViewBag.IsStudioIndex != null)
            {
                <h3 class="pb-2">Packages</h3>
                <div id="brick" class="bricklayer">
                    @foreach (var item in Model.Packages)
                    {
                        var image = item.PackageImages.FirstOrDefault();
                        string coverImgPackage;
                        coverImgPackage = (image == null) ? "~/src/images/gallery/work-1.jpg" : String.Format("https://storagephotog.blob.core.windows.net/studio-data/{0}/{1}", Model.id, image.ImageName);
                        <div class="card cd">
                            <div class="imgWrap">
                                <img class="myImg card-img-top mx-0 d-block" src="@coverImgPackage">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title cdtitle">@item.name</h3>
                                <article class="card-text">
                                    @item.details
                                </article>
                                <div class="row">
                                    <div class="col-6 pt-1">
                                        <span class="pay-title">Deposit</span><br>
                                        <span class="ttl-title" style="color:#FFA500">RM @item.depositprice</span>
                                    </div>
                                    <div class="col-6 pt-1">
                                        <span class="pay-title">Total</span><br>
                                        <span class="ttl-title" style="color:#85bb65">RM @item.price</span>
                                    </div>
                                </div>
                                <button class="btn-msg-package" data-toggle="tooltip" title="Order Now"><span class="mdi mdi-message-text"></span></button>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</div>