@using PMS.Models
@model PMS.Models.Database.Studio

@if (ViewBag.IsStudioSetting == null)
{
    @:<div class="container">
    }
<div class="cover-profile">
    @if (ViewBag.IsStudioSetting != null)
    {
        <div id="cover-photo">
            <input type="file" id="input-studioCoverPic" class="filepond" name="filepond" />
        </div>
    }
    else
    {
        var coverImage = (Model.ImgCover == null) ? "https://storagephotog2.blob.core.windows.net/studio-data/default/cover-default.jpg" : String.Format("https://storagephotog2.blob.core.windows.net/studio-data/{0}/{1}", Model.id, Model.ImgCover);
        <img src="@coverImage" id="cover-photo" />
    }
    <div id="studio-profile-img">
        @if (ViewBag.IsStudioSetting != null)
        {
            <div style="width: 90%;margin: 10.2px;">
                <input type="file" id="input-studioProfilePic" class="filepond" name="filepond" />
            </div>
        }
        else
        {
            var profileImage = (Model.ImgLogo == null) ? "https://storagephotog2.blob.core.windows.net/studio-data/default/default-profile.jpg" : String.Format("https://storagephotog2.blob.core.windows.net/studio-data/{0}/{1}", Model.id, Model.ImgLogo);

            <img class="rounded-circle" style="width: 90%;margin: 10.2px;" src="@profileImage">
        }
    </div>
    <div id="studio-head">
        <h2 style=""> {{Studio.Name}} </h2>
        <p class="mb-0">
            <span style="position: relative; top: -6px; font-weight: 500;"> {{Studio.ShortDesc}}  </span>
            <br>
            <span style="color:#9F9F9F;font-weight:500"><i class="ti-location-pin"></i> {{StudioLocation}} &nbsp;&nbsp;</span>
            <a v-bind:href="'https://www.facebook.com/'+Studio.Link.Facebook" class="d-inline-block" target="_blank" v-if="Studio.Link.Facebook != null" style="color:#9F9F9F;font-weight:500"><i class="ti-facebook"></i> {{Studio.Link.Facebook}} &nbsp;&nbsp;</a>
            <a v-bind:href="'https://www.instagram.com/'+Studio.Link.Instagram" class="d-inline-block" target="_blank" v-if="Studio.Link.Instagram != null" style="color:#9F9F9F;font-weight:500"><i class="ti-instagram"></i> {{Studio.Link.Instagram}} &nbsp;&nbsp;</a>
            <a v-bind:href="'https://www.twitter.com/'+Studio.Link.Twitter"  class="d-inline-block" target="_blank" v-if="Studio.Link.Twitter != null" style="color:#9F9F9F;font-weight:500"><i class="ti-twitter-alt"></i> {{Studio.Link.Twitter}} &nbsp;&nbsp;</a>
        </p>
    </div>
</div>
<div class="body-profile">
    <div class="row">
        <div class="col-md-2 col-12">
            <div class="row">
                <div class="col-12">
                    <span class="mdi mdi-phone"> &nbsp; {{Studio.PhoneNum}} </span> <br>
                    <span style="line-height:2.5;" class="mdi mdi-email"> &nbsp;<a href="">{{Studio.Email}} </a></span>
                </div>
                <div class="col-12">
                    <a class="chatbtn" href="@string.Format("/{0}/{1}", ViewBag.StudioUrl, "createchat")"><i class="mdi mdi-chat"></i> Chat</a>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-12">
            <h3 class="pb-2">Bio</h3>
            <p>
                {{Studio.Bio}}
            </p>

            @if (ViewBag.IsStudioIndex != null)
            {
                <h3 class="pb-2">Packages</h3>
                <div id="brick" class="bricklayer">
                    @foreach (var item in Model.Packages)
                    {
                        var image = item.PackageImages.FirstOrDefault();
                        string coverImgPackage;
                        coverImgPackage = (image == null) ? String.Format("https://storagephotog2.blob.core.windows.net/studio-data/{0}/{1}", "default", "default-package.jpg") : String.Format("https://storagephotog2.blob.core.windows.net/studio-data/{0}/{1}", Model.id, image.ImageName);
                        <div class="card cd card-shad">
                            <div class="imgWrap">
                                <img class="myImg card-img-top mx-0 d-block" src="@coverImgPackage">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title cdtitle">@item.name</h3>
                                <article class="card-text">
                                    @item.details
                                </article>
                                <div class="row">
                                    <div class="col-6 pt-1">
                                        <span class="pay-title">Deposit</span><br>
                                        <span class="ttl-title" style="color:#FFA500">RM @item.depositprice</span>
                                    </div>
                                    <div class="col-6 pt-1">
                                        <span class="pay-title">Total</span><br>
                                        <span class="ttl-title" style="color:#85bb65">RM @item.price</span>
                                    </div>
                                </div>
                                <button class="btn-msg-package" data-toggle="tooltip" title="Order Now" onclick="location.href = '@string.Format("/{0}/{1}?package={2}", ViewBag.StudioUrl, "createchat",item.id)';"><span class="mdi mdi-message-text"></span></button>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</div>

@if (ViewBag.IsStudioSetting == null)
{
    @:</div>
}
